.App {
  text-align: center;
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 10px;
  }
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.filter-new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem 1rem 0rem;
}
